body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.no-select {
  user-select: none;
}

.panel {
  position: relative;
  z-index: 999;
}

#top-panel {
  position: relative;
  z-index: 2000;
}

#upper-panel {

  height: 50px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

  #main-area {
    display: flex;
    flex: 1;
  }
  
  /* izquierda */
  #left-panel {
    width: 150px;
    background: #222;
    color: white;
    padding: 10px;
  }

  #canvas-viewport {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
}
  
  /* centro */
  #canvas {
    flex: 1;
    position: absolute;
    inset: 0;
    transform-origin: 0 0;
    background: #f0f0f0;
    z-index: 0;
    user-select: none;
  }
  
  /* derecha (INSPECTOR) */
  #right-panel {
    width: 220px;
    background: #1e1e1e;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  #inspector input {
    margin-bottom: 10px;
  }
  
  /* elementos */
  .draggable {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    cursor: move;
  }

  .draggable > .draggable {
    position: absolute;
    box-sizing: border-box;
  }
  
  .selected {
    outline: 2px solid blue;
  }

  #editor-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}

.editing-parent > * {
  pointer-events: none;
}