body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.panel {
  position: relative;
  z-index: 999;
}

  #upper-panel {
    height: 50px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  #main-area {
    display: flex;
    flex: 1;
  }
  
  /* izquierda */
  #left-panel {
    width: 150px;
    background: #222;
    color: white;
    padding: 10px;
  }
  
  /* centro */
  #canvas {
    flex: 1;
    position: relative;
    background: #f0f0f0;
    z-index: 0;
  }
  
  /* derecha (INSPECTOR) */
  #right-panel {
    width: 220px;
    background: #1e1e1e;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  #inspector input {
    margin-bottom: 10px;
  }
  
  /* elementos */
  .draggable {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    cursor: move;
  }

  .draggable > .draggable {
    position: absolute;
    box-sizing: border-box;
  }
  
  .selected {
    outline: 2px solid blue;
  }

  #editor-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.editing-parent > * {
  pointer-events: none;
}